# General rules
*.la
*.lo
*.o
*.pyc
*.pyo
*.stamp
*.swp
*~
.deps
.libs
Makefile
Makefile.in

# Autotools and other top-level cruft
/ChangeLog
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/shave
/shave-libtool
/stamp-h1
/tags
/telepathy-people-*.tar.bz2
/telepathy-people-*.tar.bz2.asc
/telepathy-people-*/
/xmldocs.make

/telepathy-people/alias.c
/telepathy-people/individual.c
/telepathy-people/individual-aggregator.c
/telepathy-people/persona.c
/telepathy-people/persona-store.c
/telepathy-people/telepathy-people.h
/telepathy-people/telepathy-people.pc
/telepathy-people/telepathy-people-uninstalled.pc
/telepathy-people/telepathy-people.vapi
/telepathy-people/tpp-lowlevel.gi
/telepathy-people/tpp-lowlevel.vapi
/telepathy-people/tp-persona.c

/tests/test-*[^ch]
