# General rules
*.la
*.lo
*.o
*.pyc
*.pyo
*.stamp
*.swp
*~
.deps
.libs
Makefile
Makefile.in

# Autotools and other top-level cruft
/ChangeLog
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/shave
/shave-libtool
/stamp-h1
/tags
/folks-*.tar.bz2
/folks-*.tar.bz2.asc
/folks-*/
/xmldocs.make

/backends/telepathy/folks-telepathy.h
/backends/telepathy/folks-telepathy.pc
/backends/telepathy/folks-telepathy-uninstalled.pc
/backends/telepathy/folks-telepathy.vapi
/backends/telepathy/folks-backend-telepathy.h
/backends/telepathy/folks-backend-telepathy.vapi
/backends/telepathy/tp-lowlevel.gi
/backends/telepathy/tp-lowlevel.vapi
/backends/telepathy/tp-backend.c
/backends/telepathy/tp-backend-factory.c
/backends/telepathy/tpf-persona.c
/backends/telepathy/tpf-persona-store.c
/folks/alias.c
/folks/backend.c
/folks/backend-store.c
/folks/capabilities.c
/folks/individual.c
/folks/individual-aggregator.c
/folks/persona.c
/folks/persona-store.c
/folks/presence.c
/folks/folks.h
/folks/folks.pc
/folks/folks-uninstalled.pc
/folks/folks.vapi
/folks/groups.c

/tests/test-*[^ch]
