# General rules
*.la
*.lo
*.o
*.pyc
*.pyo
*.stamp
*.swp
*~
.deps
.libs
Makefile
Makefile.in

# Autotools and other top-level cruft
/ChangeLog
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/shave
/shave-libtool
/stamp-h1
/tags
/folks-*.tar.bz2
/folks-*.tar.bz2.asc
/folks-*/
/xmldocs.make

/folks/alias.c
/folks/individual.c
/folks/individual-aggregator.c
/folks/persona.c
/folks/persona-store.c
/folks/folks.h
/folks/folks.pc
/folks/folks-uninstalled.pc
/folks/folks.vapi
/folks/lowlevel.gi
/folks/lowlevel.vapi
/folks/tp-persona.c
/folks/tp-persona-store.c

/tests/test-*[^ch]
