stages:
  - build

fedora-latest:
  image: fedora:latest
  stage: build
  except:
    - tags
  before_script:
    - dnf update -y && dnf -y install dnf-plugins-core redhat-rpm-config
    - dnf -y builddep folks
    - dnf -y install meson ninja-build
  script:
    # Configure
    - meson _build
    # Build
    - ninja -C _build
    # Run tests
    - bash +x ./.gitlab-ci/run-tests.sh || true
  artifacts:
    reports:
      junit: "_build/${CI_JOB_NAME}-report.xml"
    name: "folks-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    paths:
      - "_build/config.h"
      - "_build/meson-logs"
      - "_build/${CI_JOB_NAME}-report.xml"
